<!-- <nav
  aria-label="breadcrumb"
  class=" d-none d-md-inline-block ml-md-4"
>
  <ol *ngIf="aktif_table" class=" breadcrumb breadcrumb-links breadcrumb-dark">
    <li class=" breadcrumb-item">
      <a class="h2" (click)="backHome1()" style="cursor: pointer;">Home</a>
    </li>
    <li class=" breadcrumb-item">
      <h6 class=" h2 text-white d-inline-block mb-0 mt-4 mt-md-0">Work Structure</h6>
    </li>
    <li class=" breadcrumb-item active" aria-current="page">
      <h6 class=" h2 d-inline-block mb-0 mt-4 mt-md-0" style="color:#dee2e6;">Grade</h6>
    </li>
  </ol>
  <ol *ngIf="!aktif_table" class=" breadcrumb breadcrumb-links breadcrumb-dark">
    <li class=" breadcrumb-item">
      <a class="h2" (click)="backHome2()" style="cursor: pointer;">Home</a>
    </li>
    <li class=" breadcrumb-item">
      <h6 class=" h2 text-white d-inline-block mb-0 mt-4 mt-md-0">Work Structure</h6>
    </li>
    <li class=" breadcrumb-item">
      <a class="h2" (click)="backTable()" style="cursor: pointer;">Grade</a>
    </li>
    <li class=" breadcrumb-item active" aria-current="page">
      <h6 class=" h2 d-inline-block mb-0 mt-4 mt-md-0" style="color:#dee2e6;">{{ urlEndParse }}</h6>
    </li>
  </ol>
</nav> -->
