<div class = 'd-flex justify-content-center align-items-center container-fluid' style = 'border-radius:30px;
        box-shadow:1px 1px 5px 1px grey;height:50vh'>
    <div class = 'row'>
        <div class = 'col'>
            <div class = 'text-center'>
                <h1 style = "display:inline-block;
                            color:darkgrey;font-family:Arial;font-size:50px;font-weight:bold"
                >
                    {{ error_page_code }} </h1>
                <span
                    style="color:mediumvioletred;font-size:25px;
                            font-family:Arial;font-weight:bold"
                > 
                    Server Error</span>
                <div>
                    {{ error_page_msg }}
                </div>
            </div>
        </div>
    </div>
</div>