<!-- <style>
  @media screen and (min-width:768px){
    .datacolumn-custom {
      width:72vw;
    }
  }
</style> -->
<div class = 'position-absolute mt-5 ml-3 mt-lg-0 ml-lg-0' style = 'width:70vw;top:10px;left:20px;z-index:2'>  
  <div class = 'row' >
    <div class = 'col-lg-4'>
      <!-- <label style = 'display:inline-block;position:relative;left:0%'>
          <div class = 'custom-control custom-checkbox'>
            <input type = 'checkbox' class = 'custom-control-input' 
                name = 'allDate'
                ngModel
                [(ngModel)]='modelAllDate'
                [checked] = 'checkAllDate()'
                (click) = 'loadAllDate()'
                #allDate = 'ngModel'>
            <span class = 'custom-control-label' style = 'color:white;font-weight:bold;user-select:none'> 
                All Date </span>
          </div>
        </label>
      <label class = 'ml-4 ml-sm-9 ml-md-6' style = 'display:inline-block;position:relative'>
        <div class = 'custom-control custom-checkbox pb-2'>
          <input type = 'checkbox' class = 'custom-control-input' 
            ngModel
            [(ngModel)]='modelActiveStatus'
            name = 'activeStatus'
            #activeStatus = 'ngModel'
            id = "customActive"
            (click) = 'activeStatusProc()'>
          <label class = 'custom-control-label' for ="customActive" style = 'color:white;font-weight:bold;user-select:none'> Active Status</label>
        </div>
      </label> -->

        <div class = 'input-group' style="box-shadow: none">
            <div class = 'input-group-prepend'>
                <div class = 'input-group-text font-weight-bold text-white' style="background-color: transparent; border: none;">As of Date</div>
            </div>
            <div style="position: relative">
                <span style="border-left: 2px solid #fff;position: absolute;top: 35%;bottom: 35%;">
                </span>
            </div>
            <div class = 'input-group-prepend'>
                <div class = 'input-group-text font-weight-bold text-white' style="background-color: transparent; border: none;padding: 0;padding-left: 0.65rem;">
                    <i class="fa fa-calendar-alt"></i>
                </div>
            </div>
            <input type="text"
                   class="form-control font-weight-bold text-white"
                   [(ngModel)] = "modelEffectiveDate"
                   name = "nativeEffectiveDate"
                   style="background-color: transparent; border: none;"
                   [ngModelOptions] = "{standalone:true}"
                   placeholder="effective_date"
                   ngModel bsDatepicker
                   #nativeEffectiveDate = 'ngModel'
                   [bsValue] = 'modelEffectiveDate'
                   [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                   (keyup)='changeDate($event)'
                   (ngModelChange)='changeDate()'
                   [readonly] = 'readOnlyAsOfDate'>
            <!-- data-date="" data-date-format="DD MMMM YYYY" -->
        </div>
    </div>
    <div class = 'col-lg-4 mt-4 ml-9 ml-lg-0 text-sm-right text-md-left'>
      
    </div>
  </div>  
</div>

<div class=" header pb-6">
    <global-breadcrumb-component (backTableMainMenu) = "backTable($event)"
        [arrBreadCrumb]="arrBreadCrumb">
    </global-breadcrumb-component>

    <!-- <div class=" container-fluid bg-gradient-info">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
            <div class=" col-lg-6 col-7">
                <h6 class=" h2 text-white d-inline-block mb-0"><i class=" fas fa-home"> </i></h6>
                <nav aria-label="breadcrumb"
                     class=" d-none d-md-inline-block ml-md-4">
                    <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class=" breadcrumb-item">
                            <a (click)="backTable()" href="javascript:void(0)"> Work Structure </a>
                        </li>
                        <li class=" breadcrumb-item">
                            <a (click)="backTable()" style="cursor: pointer;"> Position </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div> 
  </div> -->
</div>

<div class = 'container-fluid mt--5' *ngIf = 'aktif_table'>
    <div> </div>
    <div class = 'row'>
        <div class = 'col'>
            <div class="dataTables_wrapper py-4"
                style = 'box-shadow:1px 1px 6px 5px lightgrey;border-radius:10px'>
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-4">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        Show
                        <select
                          name="datatable_length"
                          aria-controls="datatable"
                          class="form-control form-control-sm"
                          (change)="entriesChange($event)"
                        >
                          <option value="10" [selected]="entries==10">10</option>
                          <option value="25" [selected]="entries==25">25</option>
                          <option value="50" [selected]="entries==50">50</option>
                          <option value="-1" [selected]="entries==-1">All</option>
                        </select>
                        entries
                        <button type = 'button' class = 'btn btn-success btn-sm ml-3'
                          (click) = 'getData()'>
                          Create
                        </button>
                        </label>
                    </div>                    
                  </div>
                  <div class="col-12 col-sm-8 col-md-8">
                    <div id="datatable_filter" class="dataTables_filter" style = 'padding-right:10px'>
                      <label>
                        <input
                          type="search"
                          class="form-control form-control-sm"
                          placeholder="Search records"
                          aria-controls="datatable"
                          (keyup)="filterTable($event)"
                          />
                          <!-- value = ""
                          ngModel
                          id='cari'
                          name = 'cari'
                          [(ngModel)] = 'modelCari'
                          (click) = 'getData()'
                          #cari -->
                      </label>
                    </div>
                  </div>
                </div>
            
                <ngx-datatable #workPosition
                  id="print-section"
                  class="bootstrap selection-cell mx-auto d-block"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries:undefined"
                  [rows]="temp"
                  [selectionType] ="'single'" 
                  (activate)="onActivate($event)"
                  (sort)="onSort($event)"
                  style = 'cursor:pointer'
                  [columnMode]="'force'"
                  >
                <!-- [loadingIndicator]="loading" -->
                <!-- [reorderable]="'reorderable'" -->
                <!-- selectionType = 'multiclick, cell, single' -->
                <!-- [selected]="selected" -->
                    <ngx-datatable-column name="No." prop="number" [width]="50">
                      <ng-template ngx-datatable-header-template>
                        <span class = 'ml--2'>No</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Name" prop="positionName" [width]="250" [flexGrow]='0.7'>
                      <ng-template ngx-datatable-header-template>
                        <span class = 'ml--2'>Name</span>
                      </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span (click)="redirectForm(row)" style="text-decoration: underline; cursor: pointer">
                              {{value}}
                          </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Organization" prop="organizationName" [width]="150" [flexGrow]='0.7'>
                      <ng-template ngx-datatable-header-template>
                        <span class = 'ml--2'>Organization</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Job Title" prop="jobName" [width]="250" [flexGrow]='0.7'>
                      <ng-template ngx-datatable-header-template>
                        <span class = 'ml--2'>Job Titile</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Active" prop="activeStatus" [width]="50" [flexGrow]='0.5'>
                      <ng-template ngx-datatable-header-template>
                        <span class = 'ml--2'>Active</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Effective Date" [width]="100" [flexGrow]='0.7'>
                      <ng-template ngx-datatable-header-template>
                        <span class = 'ml--2'>Effective Date</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-footer *ngIf="true">
                        <ng-template
                                ngx-datatable-footer-template
                                let-rowCount="rowCount"
                                let-pageSize="pageSize"
                                let-selectedCount="selectedCount"
                                let-curPage="curPage"
                                let-offset="offset"
                        >
                            <div style="padding: 5px 10px">
                                <div>
                                    {{ rowCount }} Total Records
                                </div>
                            </div>
                            <datatable-pager
                                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                                    [pagerRightArrowIcon]="'datatable-icon-right'"
                                    [pagerPreviousIcon]="'datatable-icon-prev'"
                                    [pagerNextIcon]="'datatable-icon-skip'"
                                    [page]="curPage"
                                    [size]="pageSize"
                                    [count]="rowCount"
                                    (change)="workPosition.onFooterPage($event)"
                                    [hidden]="!((rowCount / pageSize) > 1)">
                            </datatable-pager>
                        </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>
                
                    <ng-http-loader 
                        [backgroundColor]="'#0070d2'"
                        spinner="sk-three-bounce">
                    </ng-http-loader>
              </div>
        </div>
    </div>
</div>


<div class = 'container-fluid' *ngIf = '!aktif_table'>
    <router-outlet></router-outlet>
</div>