<!-- <style>
  .masukin{
    background-color:#ccc;
    width:70px;
    height:30px;
    border-radius:30px;
    position:absolute;  
    left:0px;
    top:0;
    bottom:0;
    right:0;
  }
  .masukin:before{
    content:'';
    background-color:lightcyan;
    border-radius:50%;
    width:30px;
    height:30px;
    position:absolute;
    left:0;
    top:0;
    -webkit-transition:.4s;
    transition:.4s;
  }
  input:checked + .masukin {
    background-color:#2196F3;
  }
  /* input:focus + .masukin {
    border:1px solid red;
  } */
  input:checked + .masukin:before{
    -webkit-transform: translateX(40px);
    transform:translateX(40px)
  }
  .slideback {
    background-color:#ccc;
  }
  input:checked .slideback {
    background-color:red;
  }
</style> -->
<div class = 'position-absolute mt-5 ml-3 mt-lg-0 ml-lg-0' style = 'width:70vw;top:10px;left:20px;z-index:2'>  
  <div class = 'row'>
    <div class = 'col-lg-4'>
        <div class = 'input-group' style="box-shadow: none">
            <div class = 'input-group-prepend'>
                <div class = 'input-group-text font-weight-bold text-white' style="background-color: transparent; border: none;">As of Date</div>
            </div>
            <div style="position: relative">
                <span style="border-left: 2px solid #fff;position: absolute;top: 35%;bottom: 35%;">
                </span>
            </div>
            <div class = 'input-group-prepend'>
                <div class = 'input-group-text font-weight-bold text-white' style="background-color: transparent; border: none;padding: 0;padding-left: 0.65rem;">
                    <i class="fa fa-calendar-alt"></i>
                </div>
            </div>
            <input type="text"
                   class="form-control font-weight-bold text-white"
                   [(ngModel)] = "modelEffectiveDate"
                   name = "nativeEffectiveDate"
                   style="background-color: transparent; border: none;"
                   [ngModelOptions] = "{standalone:true}"
                   placeholder="effective_date"
                   ngModel bsDatepicker
                   #nativeEffectiveDate = 'ngModel'
                   [bsValue] = 'modelEffectiveDate'
                   [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                   (ngModelChange)='changeDate()'
                   [readonly] = 'readOnlyAsOfDate'>
            <!-- data-date="" data-date-format="DD MMMM YYYY" -->
        </div>
    </div>
    <div class = 'col-lg-4 mt-4 ml-9 ml-lg-0 text-sm-right text-md-left'>
      <!-- <div class = 'custom-control custom-checkbox mt--3 pb-2'>
        <input type = 'checkbox' class = 'custom-control-input' 
          id = "customActive" [checked]="activeChecked" (click)='checkProc()'>
        <label class = 'custom-control-label' for ="customActive" style = 'color:white;font-weight:bold;user-select:none'> Active Status</label>
      </div> -->
    </div>
  </div>  
</div>

<div class=" header pb-6">
    <!-- urlEndParse => untuk menu children after Parent (eg: 'Employee') -->
    <global-breadcrumb-component (backTableMainMenu) = "backTable($event)"
      [arrBreadCrumb]="arrBreadCrumb">
    </global-breadcrumb-component>
    <!-- [mainMenu] = "'Employee'" 
    [clickMainMenu] = "true" (backTableMainMenu)='backTable()'> -->

    <!-- <div class=" container-fluid bg-gradient-info">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0"><i class=" fas fa-home"> </i></h6>
  
            <nav aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4">
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a (click)="backTable()" style="cursor: pointer;"> Employee </a>
                </li>
  
                <li class=" breadcrumb-item" *ngIf="urlEndParse != 'EMPLOYEE'">
                  <a href="javascript:void(0)"  > {{ titleCase(urlEndParse) }} </a>
                </li>
              </ol>
            </nav>
          </div>
        </div> -->
    
        <!-- <div class = 'row justify-content-center'>
            <div class = 'col-lg-4'>
            
            </div>
        </div> -->

    <!-- </div> 
</div> -->
</div>
<div class = 'container-fluid mt--5' *ngIf = 'aktif_table'>
    <div class = 'row justify-content-center'>
        <div class = 'alert alert-danger alert-dismissible py-3 bg-transparent border-0' style = 'cursor:pointer;user-select:none'
            *ngIf = 'error_msg != null'>
            <a data-dismiss = 'alert' class = 'close' (click)='error_msg=null;error_msg_point=null'>
                &times;
            </a>
            <span style = 'color:red;font-size:20px'>
              <b>{{ error_msg_point }}</b> {{ error_msg }}
            </span>
        </div> 
    </div>
    <div class = 'row'>
        <div class = 'col'>
            <div class="dataTables_wrapper py-4"
                style = 'box-shadow:1px 1px 6px 5px lightgrey;border-radius:10px'>
                <div class="row">
                  <div class="col-12 col-sm-3 col-md-3">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        Show
                        <select
                          name="datatable_length"
                          aria-controls="datatable"
                          class="form-control form-control-sm"
                          (change)="entriesChange($event)"
                        >
                          <option value="10" [selected]="entries==10">10</option>
                          <option value="25" [selected]="entries==25">25</option>
                          <option value="50" [selected]="entries==50">50</option>
                          <option value="-1" [selected]="entries==-1">All</option>
                        </select>
                        entries
                        <button type = 'button' class = 'btn btn-sm btn-success btn-login ml-3'>
                          Create
                        </button>
                        </label>
                    </div>                    
                  </div>
                  <!-- <div class="col-12 col-sm-8 ml-sm-5 col-md-7 ml--7 ml-md-9"> -->
                  <div class = 'col-12 col-sm-9 col-md-9'>
                    <div id="datatable_filter" class="dataTables_filter pr-1">
                      <label>
                        <input
                          type="search"
                          class="form-control form-control-sm"
                          placeholder="Search records"
                          aria-controls="datatable"
                          (keyup)="filterTable($event)"
                          />
                          <!-- ngModel
                          [(ngModel)] = 'modelFilter'
                          name = 'nameFilter'
                          #nameFilter = 'ngModel' -->
                      </label>
                    </div>
                  </div>
                </div>
            
                <ngx-datatable #tableEmployee
                  id="print-section"
                  class="bootstrap selection-cell"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries:undefined"
                  [rows]="temp"
                  [selectionType] ="'single'" 
                  (activate)="onActivate($event)"
                  (sort)="onSort($event)"
                  style = 'cursor:pointer'
                >
                
                <!-- selectionType = 'multiclick, cell, single' -->
                <!-- [selected]="selected" -->
                    <ngx-datatable-column name="No" [width]="50">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{rowIndex + 1}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Name" [width]="150" [flexGrow]='0.25'>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class = 'ml--2'>{{column.name}}</span>
                        </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span (click)="redirectForm(row)" style="text-decoration: underline; cursor: pointer">
                              {{value}}
                          </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Employee No" [width]="100" [flexGrow]='0.2'>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class = 'ml--2'>{{column.name}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Employee Status" [width]="100" [flexGrow]='0.2'>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class = 'ml--2'>{{column.name}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Company" prop="companyName" [width]="150" [flexGrow]='0.3'>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class = 'ml--2'>{{column.name}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Position" prop="positionName" [width]="250" [flexGrow]='0.6'>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class = 'ml--2'>{{column.name}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-footer *ngIf="true">
                        <ng-template
                                ngx-datatable-footer-template
                                let-rowCount="rowCount"
                                let-pageSize="pageSize"
                                let-selectedCount="selectedCount"
                                let-curPage="curPage"
                                let-offset="offset"
                        >
                            <div style="padding: 5px 10px">
                              <global-datatable-footer [rowCount]="rowCount"></global-datatable-footer>
                                <!-- <div>
                                    {{ rowCount }} Total Records
                                </div> -->
                            </div>
                            <datatable-pager
                                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                                    [pagerRightArrowIcon]="'datatable-icon-right'"
                                    [pagerPreviousIcon]="'datatable-icon-prev'"
                                    [pagerNextIcon]="'datatable-icon-skip'"
                                    [page]="curPage"
                                    [size]="pageSize"
                                    [count]="rowCount"
                                    (change)="tableEmployee.onFooterPage($event)"
                                    [hidden]="!((rowCount / pageSize) > 1)">
                            </datatable-pager>
                        </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>
                <!-- contoh untuk hint API terus dalam ganti API -->
<!--                <ngx-datatable #tableEmployee-->
<!--                               id="print-section"-->
<!--                               class="bootstrap selection-cell"-->
<!--                               [columnMode]="'flex'"-->
<!--                               [headerHeight]="50"-->
<!--                               [footerHeight]="50"-->
<!--                               [rowHeight]="'auto'"-->
<!--                               [limit]="entries != -1 ? entries:undefined"-->
<!--                               [rows]="temp"-->
<!--                               [selectionType] ="'single'"-->
<!--                               (activate)="onActivate($event)"-->
<!--                               (sort)="onSort($event)"-->
<!--                               style = 'cursor:pointer'-->
<!--                >-->

<!--                    &lt;!&ndash; selectionType = 'multiclick, cell, single' &ndash;&gt;-->
<!--                    &lt;!&ndash; [selected]="selected" &ndash;&gt;-->
<!--                    <ngx-datatable-column name="No" [minWidth]="70" [maxWidth]="75">-->
<!--                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
<!--                            {{((curPage-1)*entries)+(rowIndex + 1)}}-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Name" [flexGrow]='0.25'>-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>-->
<!--                            <span class = 'ml&#45;&#45;2'>{{column.name}}</span>-->
<!--                        </ng-template>-->
<!--                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--                          <span (click)="redirectForm(row)" style="text-decoration: underline; cursor: pointer">-->
<!--                              {{value}}-->
<!--                          </span>-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Employee No" [flexGrow]='0.2'>-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>-->
<!--                            <span class = 'ml&#45;&#45;2'>{{column.name}}</span>-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Employee Status" [flexGrow]='0.2'>-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>-->
<!--                            <span class = 'ml&#45;&#45;2'>{{column.name}}</span>-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Company" prop="companyName" [flexGrow]='0.3'>-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>-->
<!--                            <span class = 'ml&#45;&#45;2'>{{column.name}}</span>-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Position" prop="positionName" [flexGrow]='0.6'>-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>-->
<!--                            <span class = 'ml&#45;&#45;2'>{{column.name}}</span>-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-footer *ngIf="true">-->
<!--                        <ng-template-->
<!--                                ngx-datatable-footer-template-->
<!--                                let-rowCount="rowCount"-->
<!--                                let-pageSize="pageSize"-->
<!--                                let-selectedCount="selectedCount"-->
<!--                                let-curPage="curPage"-->
<!--                                let-offset="offset"-->
<!--                        >-->
<!--                            <div style="padding: 5px 10px">-->
<!--                                <div>-->
<!--                                    {{ totalElement }} Total Records-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <datatable-pager-->
<!--                                    [pagerLeftArrowIcon]="'datatable-icon-left'"-->
<!--                                    [pagerRightArrowIcon]="'datatable-icon-right'"-->
<!--                                    [pagerPreviousIcon]="'datatable-icon-prev'"-->
<!--                                    [pagerNextIcon]="'datatable-icon-skip'"-->
<!--                                    [page]="curPage"-->
<!--                                    [size]="pageSize"-->
<!--                                    [count]="totalElement"-->
<!--                                    (change)="changePagination($event)"-->
<!--                                    [hidden]="!((totalElement / pageSize) > 1)">-->
<!--                            </datatable-pager>-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-footer>-->
<!--                </ngx-datatable>-->
                <!-- (change)="changePagination($event)" -->
                
                    <ng-http-loader 
                        [backgroundColor]="'#0070d2'"
                        spinner="sk-three-bounce">
                    </ng-http-loader>
              </div>
        </div>
    </div>
</div>


<div class = 'container-fluid mt--5' *ngIf = '!aktif_table'>  
  <div class = 'row'>
    <!-- <div class = 'col-lg-auto'>
      <button [class] = 'class_hover' 
          (mouseenter) = 'hover_color()'
          (mouseleave) = 'leave_color()'
          (click) = 'change_aktif_tabel()'>
        <i class = 'fa fa-arrow-left' ></i>
      </button>    
    </div> -->
    <div class = 'col-lg-12'>
      <ul class = 'nav nav-pills mt-3 mt-lg-1' style = 'cursor:pointer'>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3 pb-2'>
          <a class = 'nav-link' data-toggle = 'pill'
              routerLinkActive = 'active'
              [routerLink] = '["personal"]'
              (click) = 'arrBreadCrumbProc("Personal")'
              queryParamsHandling = 'merge'>Personal</a>
        </li>
        <!-- (click) = "this.urlEndParse = 'PERSONAL'" -->
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["employment"]'
            (click) = "arrBreadCrumbProc('Employment')"
            queryParamsHandling = 'merge'>Employment</a>
        </li>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3' *ngIf='this.methodServices.permissionMenu("terms","Blocked")'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["terms"]'
            (click) = "arrBreadCrumbProc('Terms')"
            queryParamsHandling = 'merge'>Employment Terms</a>
        </li>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["address"]'
            (click) = "arrBreadCrumbProc('Address')"
            queryParamsHandling = 'merge'>Address</a>
        </li>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["assignment"]'
            (click) = "arrBreadCrumbProc('Assignment')"
            queryParamsHandling = 'merge'>Assignment</a>
        </li>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3' *ngIf='this.methodServices.permissionMenu("employee-supervisor","Blocked")'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["supervisor"]'
            (click) = "arrBreadCrumbProc('Supervisor')"
            queryParamsHandling = 'merge'>Supervisor</a>
        </li>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3' *ngIf='this.methodServices.permissionMenu("element-entries","Element Entries")'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["element-entries"]'
            [queryParams] = '{status:null}'
            (click) = "arrBreadCrumbProc('Element Entries');procAddition()"
            queryParamsHandling = 'merge'>Element Entries</a>
        </li>
        <!-- (click) = "this.urlEndParse = 'ELEMENT ENTRIES';procAddition()" -->
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3' *ngIf='this.methodServices.permissionMenu("employee-payroll","Blocked")'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["payroll"]'
            (click) = "arrBreadCrumbProc('Payroll')"
            queryParamsHandling = 'merge'>Payroll</a>
        </li>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3' *ngIf='this.methodServices.permissionMenu("employee-payment-method","Blocked")'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["payment-method"]'
            (click) = "arrBreadCrumbProc('Payment Method')"
            queryParamsHandling = 'merge'>Payment Method</a>
        </li>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3' *ngIf='this.methodServices.permissionMenu("employee-family-list","Blocked")'>
          <a class = 'nav-link coba' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["family-list"]'
            (click) = "arrBreadCrumbProc('Family List');procAddition()"
            queryParamsHandling = 'merge'>Family</a>
        </li>
        <li class = 'nav-item col-6 col-lg-auto ml-lg--3' *ngIf='this.methodServices.permissionMenu("employee-education","Blocked")'>
          <a class = 'nav-link' data-toggle = 'pill'
            routerLinkActive = 'active'
            [routerLink] = '["education"]'
            (click) = "arrBreadCrumbProc('Education');procAddition()"
            queryParamsHandling = 'merge'>Education</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class = 'container-fluid'>
<div *ngIf = '!aktif_table'>
    <div class = 'row justify-content-end'>
      <div class = 'col-9 col-sm-6 col-md-4 mr-5 mt-3'>
        <!-- <div class = 'form-group'>
          <div class = 'input-group'>
              <div class = 'input-group-prepend'>
                  <div class = 'input-group-text font-weight-bold'>As of Date</div>
              </div>
              <input type="date"
                class="form-control"
                [(ngModel)] = "modelEffectiveDate"
                name = "effectiveDate"
                [ngModelOptions] = "{standalone:true}"
                placeholder="effective_date"
                ngModel
                #nativeEffectiveDate = 'ngModel'
                (change)='changeDate()'>
                data-date="" data-date-format="DD MMMM YYYY"
          </div>
        </div> -->
        <!-- <label class = 'custom-toggle'>
          <input type = 'checkbox' [checked]='checkedToggle'>
          <span class = 'custom-toggle-slider rounded-circle' data-label-on='Yes' data-label-off='No'></span>
        </label> -->
        <!-- <label style = 'position:relative;display:inline-block;
            border-radius:30px;width:70px;height:30px' class = 'slideback mt--4'>
            <input type = 'checkbox' style = 'width:70px;height:30px;opacity:1;z-index:10'>
          <span class = 'masukin'></span>
        </label> -->

        <!-- <div class = 'custom-control custom-checkbox mt--3 pb-2 ml-lg-9'>
          <input type = 'checkbox' class = 'custom-control-input' id = "customActive" [checked]="activeChecked" (click)='checkProc()'>
          <label class = 'custom-control-label' for ="customActive"> Active Status</label>
        </div> -->
      </div>
  </div>
  <!-- <div class = 'container-fluid'> -->
        <router-outlet></router-outlet>
        <!-- <employee-personal [modelEffectiveDateParent] ="modelEffectiveDate"></employee-personal> -->
  <!-- </div> -->
</div>
</div>