<style>
    .btn-header {
        margin-bottom: 0.7rem;
        padding: 0.2rem 1.6rem;
    }
    .invalidError {
        border-color: red;
    }
</style>
<!-- <div class = 'container-fluid'> -->
    <form #f='ngForm'>
        <div class = 'row p-3' style = 'background-color:white;box-shadow:1px 1px 6px 1px grey
                    ;border-radius:20px'>
            <div class = 'col-12'>
                <div class = 'row'>
                    <div class = 'col'>
                        <h2>Element Entries Form</h2>
                    </div>
                    <div class = 'col-lg-7 text-right'>
                        <div class ='position-absolute w-100' style = 'z-index:3;margin-left:-1.5rem;'
                            *ngIf="showSkeletonText">
                            <ngx-skeleton-loader animation="progress"
                                count = "1" [theme] = "{height:'32px',width:'115px'}">
                            </ngx-skeleton-loader>
                        </div>
                        <button type = 'button' class = 'btn btn-danger btn-header' (click)="deleteItemId()">Delete</button>
                        <button type = 'button' class = 'btn btn-default btn-header d-none'>History</button>
                    </div>
                    <div class="col-12">
                        <hr class = 'mt--1' style = 'border:1px solid lightsteelblue'>
                    </div>
                </div>
                <div class = 'row text-center pb-4' *ngIf = 'alert_error_msg != "" || alert_success_msg != ""'>
                    <div class = 'col'>
                        <span class = 'text-danger font-weight-bold' style = 'font-size:15px'>
                           {{ alert_error_msg }} </span>
                        <span class = 'text-primary font-weight-bold' style = 'font-size:15px'>
                           {{ alert_success_msg }} </span>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'col-lg-5'>
                        <div class = 'row'>
                            <div class = 'col-12'>
                                <div class = 'form-group'>
                                    <div class ='position-absolute w-100' style = 'z-index:3'
                                        *ngIf='showSkeletonText'>
                                        <ngx-skeleton-loader animation="progress"
                                                count = "1" [theme] = "{height:'24px',width:'135px'}">
                                        </ngx-skeleton-loader>
                                        <ngx-skeleton-loader animation="progress" [theme] = "{
                                            'margin-top':'-9px',height:'46px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <label for = 'effective-date-id' class = 'form-control-label'>Effective Date</label>
                                    <input type="text"
                                           id="effective-date-id"
                                           [ngClass]="modelEffectiveDate == 'Invalid Date' ? 'invalidError form-control' : 'form-control'"
                                           name = "effectiveDate"
                                           bsDatepicker
                                           [bsValue] = 'modelEffectiveDate'
                                           [value] = 'modelEffectiveDate | date:"dd-MMM-yyyy"'
                                           autocomplete="off"
                                           autocapitalize="off"
                                           spellcheck="false"
                                           (bsValueChange) = 'changeProc($event)'
                                           [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                           [readonly]='readOnlyInput'>
                                    
                                    <!-- <div class = 'input-group input-group-md'>
                                        <div class = 'input-group-prepend'>
                                            -webkit-text-fill-color:darkcyan; -webkit-text-stroke:0.5px black
                                            <div class = 'input-group-text font-weight-normal'
                                                    style = 'color:grey;font-family:Helvetica;width:150px'>Effective Date</div>
                                        </div>
                                        <input type="date"
                                            class="form-control"
                                            name = "effectiveDate"
                                            ngModel
                                            [(ngModel)] = 'modelEffectiveDate'
                                            #effectiveDate = 'ngModel'
                                            [readonly] = 'readOnlyInput'>
                                            <span *ngIf = "!f.valid && f.touched"> Error </span>
                                    </div> -->
                                </div>
                            </div>
                            <div class = 'col-12 mt--3'>
                                <div class = 'form-group'>
                                    <div class ='position-absolute w-100' style = 'z-index:3'
                                        *ngIf='showSkeletonApiElementType'>
                                        <ngx-skeleton-loader animation="progress"
                                                count = "1" [theme] = "{height:'24px',width:'135px'}">
                                        </ngx-skeleton-loader>
                                        <ngx-skeleton-loader animation="progress" [theme] = "{
                                            'margin-top':'-9px',height:'46px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <label class = 'form-control-label' for = 'elementTypesName'>Element </label>
                                    <input *ngIf='decrypt_status != "new"' type="text"
                                           class="form-control"
                                           name = "elementTypesName"
                                           id="elementTypesName"
                                           [value] = 'modelElementName'
                                           #elementTypesName
                                           [readonly] = 'true'>
                                    <ng-select2 *ngIf='decrypt_status == "new"' id = 'elementTypesId'
                                                [value]="modelElementTypes"
                                                [allowClear]="false"
                                                [placeholder]='"Select...."'
                                                [data]="rowsElementTypesSelect2"
                                                (valueChanged)="changeType($event)">
                                    </ng-select2>
<!--                                    <select *ngIf='decrypt_status == "new"' id = 'elementTypesId'-->
<!--                                        class = 'form-control'-->
<!--                                        [(ngModel)] = ''-->
<!--                                        ngModel-->
<!--                                        name = 'elementTypesName'-->
<!--                                        (ngModelChange)="changeType($event)"-->
<!--                                        #elementTypesName = 'ngModel'>-->
<!--                                        <option *ngFor = 'let rowsElementTypes of rowsElementTypes'-->
<!--                                            [value]='rowsElementTypes.id'>-->
<!--                                            {{ rowsElementTypes.name }}-->
<!--                                        </option>-->
<!--                                    </select>-->
                                    <!-- <input type = 'text'
                                        id = 'payroll-name-id'
                                        class = 'form-control'
                                        name = 'payrollName'
                                        [(ngModel)] = 'modelPayrollName'
                                        #payrollName = 'ngModel'
                                    > -->
                                    <!-- <div class = 'input-group input-group-md'>
                                        <div class = 'input-group-prepend'>
                                            -webkit-text-fill-color:darkcyan; -webkit-text-stroke:0.5px black
                                            <div class = 'input-group-text font-weight-normal'
                                                    style = 'color:grey;font-family:Helvetica;width:150px'>Active Status</div>
                                        </div>
                                        <input type="checkbox"
                                            class="form-control align-self-center ml-lg--8"
                                            name = "activeStatus"
                                            ngModel
                                            [(ngModel)] = 'modelActiveStatus'
                                            #activeStatus = 'ngModel'
                                            style = 'height:30px'>
                                            <span *ngIf = "!f.valid && f.touched"> Error </span>
                                    </div> -->
                                </div>
                            </div>
                            <div class = 'col-12 mt--3'>
                                <div class = 'form-group'>
                                    <div class ='position-absolute w-100' style = 'z-index:3'
                                        *ngIf='showSkeletonApiElementType'>
                                        <ngx-skeleton-loader animation="progress"
                                                count = "1" [theme] = "{height:'24px',width:'135px'}">
                                        </ngx-skeleton-loader>
                                        <ngx-skeleton-loader animation="progress" [theme] = "{
                                            'margin-top':'-9px',height:'46px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <label class = 'form-control-label' for = 'processingTypeId'>Type</label>
                                    <input type="text"
                                           class="form-control"
                                           name = "processingTypeId"
                                           id="processingTypeId"
                                           [value] = 'modelProcessingType'
                                           #processingTypeId
                                           [readonly] = 'true'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = 'col-lg-6 ml-lg-5'>
                        <div class = 'row'>
                            <div class = 'col-12'>
                                <div class = 'form-group'>
                                    <div class ='position-absolute w-100' style = 'z-index:3'
                                        *ngIf='showSkeletonText'>
                                        <div>
                                            <ngx-skeleton-loader animation="progress"
                                                    count = "1" [theme] = "{height:'24px',width:'135px'}">
                                            </ngx-skeleton-loader>    
                                        </div>
                                        <ngx-skeleton-loader animation="progress" [theme] = "{
                                            'margin-top':'-9px',height:'46px',width:'135px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <label class = 'form-control-label' for = 'active-status-id'>Active</label><br>
                                    <label class = 'custom-toggle'>
                                        <input type = 'checkbox'
                                                ngModel
                                                name = 'activeStatus'
                                                [(ngModel)] = 'modelActiveStatus'
                                               (ngModelChange)="changeProc($event)"
                                                #activeStatus = 'ngModel'
                                                class = 'form-control'
                                                id = 'active-status-id'
                                                >
                                        <span class = 'custom-toggle-slider' data-label-on='Yes' data-label-off = 'No'></span>
                                    </label>
                                    <!-- <div class = 'input-group input-group-md'>  
                                        <div class = 'input-group-prepend'>
                                            -webkit-text-fill-color:darkcyan; -webkit-text-stroke:0.5px black
                                            <div class = 'input-group-text font-weight-normal'
                                                    style = 'color:grey;font-family:Helvetica;width:180px'>Element Classification</div>
                                        </div>                                        
                                            <span *ngIf = "!f.valid && f.touched"> Error </span>
                                    </div> -->
                                </div>                          
                            </div>
                            
                            <div class = 'col-12'>
                                <div class = 'form-group'>
                                    <div class ='position-absolute w-100' style = 'z-index:3'
                                        *ngIf='showSkeletonText'>
                                        <ngx-skeleton-loader animation="progress"
                                                count = "1" [theme] = "{height:'24px',width:'135px'}">
                                        </ngx-skeleton-loader>
                                        <ngx-skeleton-loader animation="progress" [theme] = "{
                                            'margin-top':'-9px',height:'46px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <label class = 'form-control-label' for = 'value-id'>Value</label>

                                    <input type="text"
                                            id = 'value-id'
                                            class="form-control"
                                            name = "valueId"
                                           [value] = 'modelValue'
                                            #valueId
                                            (blur) = 'editFixed($event)'
                                            (focus) = 'onFocus($event)'
                                           (change) = 'changeProc($event)'
                                            onkeypress = 'if(((this.value.length === 12 && window.getSelection().toString() == "") || 
                                                event.charCode == 101) || 
                                                event.charCode == 45 ||
                                                (window.getSelection().toString() != "" && !(event.charCode >= 48 && event.charCode <= 57)))
                                                {return false}'
                                            [readonly] = 'readOnlyInput'>
                                </div>
                            </div>

                            <!-- oninput = 'this.value = Math.abs(this.value)' -->
                            <!-- 45 => Minus, 101 => e -->

                            <!-- <div class = 'col-12 mt--3'>
                                <div class = 'form-group'>
                                    <label class = 'form-control-label' for = 'cut-dom-id'>Cut DOM</label>
                                    <input type="number"
                                            id = 'cut-dom-id'
                                            class="form-control"
                                            name = "cutDOM"
                                            ngModel
                                            [(ngModel)] = 'modelCutDOM'
                                            #cutDOM = 'ngModel'
                                            oninput = 'this.value = Math.abs(this.value)'                                            
                                            onkeypress = 'if(((this.value.length == 5 && window.getSelection().toString() == "") || 
                                                            event.charCode == 101) || 
                                                            (window.getSelection().toString() != "" && !(event.charCode >= 48 && event.charCode <= 57)))
                                                            {return false}'
                                            [readonly] = 'readOnlyInput'>
                                </div>
                            </div> -->
                        </div>                  
                    </div>
                </div>
            </div> 
            <div class = 'col-12'>
                <div class = 'row'>
                    <div class = 'col-lg-6'>
                    </div>
                    <div class = 'col-lg-6 text-right'>
                        <div class ='position-absolute w-100 ml--8' style = 'z-index:3;'
                            *ngIf="showSkeletonText">
                            <ngx-skeleton-loader animation="progress"
                                    count = "1" [theme] = "{height:'44px',width:'95px'}">
                            </ngx-skeleton-loader>
                        </div>
                        <div class ='position-absolute w-100 ml--4' style = 'z-index:3;'
                            *ngIf="showSkeletonText">
                            <ngx-skeleton-loader animation="progress"
                                    count = "1" [theme] = "{height:'44px',width:'100px'}">
                            </ngx-skeleton-loader>
                        </div>
                        <button type = 'button' class = 'btn btn-danger' (click) = 'backCancel()'>Cancel</button>
                        <button type = 'button' class = 'btn btn-primary'
                            [disabled]='disabledSubmit' (click) = 'submitProc()' >Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <ng-http-loader 
            [backgroundColor]="'#0070d2'"
            spinner="sk-three-bounce">
        </ng-http-loader>
    </form>
    <!-- <div style = 'background:url("assets/img/brand/logo.png") no-repeat center / cover;width:200px
            ;-webkit-box-reflect:below 2px linear-gradient(transparent,white);height:100px;'
            >
        good
    </div> -->
<!-- </div> -->
